@model IEnumerable<MLSApplication.Models.Sportsman>

@{
    ViewBag.Title = "SportsMan";
}

<h2>Index</h2>

<hr />


<button type="button" onclick="location.href='@Url.Action("Create", "Sportsman")'" class="btn btn-default btn-sm">Create</button>
<br />
<br />

<table class="table">
    <tr>
        <th scope="col">
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th scope="col">
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
        <th>
            Salary
        </th>
        <th>
            Position
        </th>
        <th>
            Team
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.futbolTeam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.sportsmanId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.sportsmanId })
            </td>
        </tr>
    }

</table>
<br />
@using (Html.BeginForm("LoadDocument", "Sportsman", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <hr />
    <h4 class="text-info">Cargar archivo</h4>
    <div class="agroup-class">
        <input type="file" name="file" accept=".csv" />
    </div>
    <div class="agroup-class">
        <input type="submit" value="Load file" class="btn btn-default btn-sm" />
    </div>


}

