@model IEnumerable<MLSApplication.Models.Sportsman>

@{
    ViewBag.Title = "SportsMan";
}

<h2>Index</h2>

<button class="btn-default"> @Html.ActionLink("Create new", "Create")</button>

@using (Html.BeginForm())
{
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
}

<table class="table">
    <tr>
        <th scope="col">
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th scope="col">
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.futbolTeam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.futbolTeam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.sportsmanId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.sportsmanId })
            </td>
        </tr>
    }

</table>
